{% extends 'base.html.twig' %}

{% block body %}
<style> #menu-top {margin-bottom:0;} #header{padding-right:0; padding-left:0;}</style>
<div class="container-fluid py-3" id="search">
  <div class="col d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center">
      <input type="text" id="search-field" placeholder="Trouver un champion">
    </div>
  </div>
</div>
<section class="container mb-footer">

  <div class="d-flex justify-content-around titre-b">
    <div class="align-items-center d-none d-xl-flex">
      <img src="img/bg/ligne3.png" classe="ligne" id="ligne1" alt="">
    </div>
    <h1 class="color-txt">Sélectionnez le champion ennemi</h1>
    <div class="align-items-center d-none d-xl-flex">
      <img src="img/bg/ligne3.png" classe="ligne" id="ligne2" alt="">
    </div>
  </div>

  <p class=" text-center soustitre">Veuillez sélectionner le champion que vous allez affronter.</p>

  <div class="col-md-12">
    <div class="row justify-content-around flew-wrap">
    
            {% if adversairesR is defined %}
                {% for adversaireR in adversairesR %}
                    <div class="px-2 py-2 scale advsearch" data-nom="{{ adversaireR.name }}" id="{{ adversaireR.id }}">
                        <a href='{{ path('reversematchup',{idE:adversaireR.id}) }}'>
                            <div class='position-relative'><div class='filter position-absolute'></div><img src='{{ imgChamp }}{{ adversaireR.id }}.png' class='card-img' alt=''></div>
                        </a>
                    </div>
                {% endfor %}
            {% elseif adversaires is defined %}
                {% for adversaire in adversaires %}
                <div class="px-2 py-2 scale advsearch" data-nom="{{ adversaire.name }}" id="{{ adversaire.id }}">
                    <a href='{{ path('matchup',{idM:id, idE:adversaire.id}) }}'>
                        <div class='position-relative'> 
                            <div class='filter position-absolute'></div>
                            <img src='{{ imgChamp }}{{ adversaire.id }}.png' class='card-img' alt=''>
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% endif %}

      <div class="filling-empty-space-childs"></div>
      <div class="filling-empty-space-childs"></div>
      <div class="filling-empty-space-childs"></div>
      <div class="filling-empty-space-childs"></div>
      <div class="filling-empty-space-childs"></div>
      <div class="filling-empty-space-childs"></div>
      <div class="filling-empty-space-childs"></div>
    </div>
  </div>
</section>

<script>
  let search_fieldElt = document.getElementById('search-field');
  let advsearchElt = [...document.getElementsByClassName('advsearch')];

  search_fieldElt.addEventListener('input', function(e) {
    advsearchElt.forEach(element => {

      if (element.dataset.nom.toLowerCase().includes(search_fieldElt.value.toLowerCase())) {
        element.style.display = "block";
      } else {
        element.style.display = "none";
      }
    })
  })

  $(window).scroll(function() {
    if ($(window).scrollTop() >= 100) {
      $('body').addClass('scroll');
    } else {
      $('body').removeClass('scroll');
    }
  });
</script>
{% endblock %} 