{% extends 'base.html.twig' %}

{% block body %}
<section class="container blocAdv">

  <div>
    <h1 class="WS-color text-center">Sélectionnez le champion ennemi</h1>
    <p class=" text-center soustitre mb-0">Veuillez sélectionner le champion que vous allez affronter.</p>
  </div>

  <div class="d-flex justify-content-center py-3" id="search">
    <div class="w-75">
      <input class='w-100 text-center' type="text" id="search-field" placeholder="Trouver un champion">
    </div>
  </div>

  <div class="col-md-12 blocChamps">
    <div class="d-flex justify-content-around flex-wrap">
    
            {% if adversairesR is defined %}
                {% for adversaireR in adversairesR %}
                    <div class="mx-2 py-2 scale advsearch cardChampS" data-nom="{{ adversaireR.name }}" id="{{ adversaireR.id }}">
                        <a href='{{ path('reversematchup',{idE:adversaireR.id}) }}'>
                            <div class='containerImgChamp'>
                              <img src='{{ imgChamp }}{{ adversaireR.id }}.png' alt=''>
                            </div>
                            <div class='socleSelect'>
                              <p>{{ adversaireR.name }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% elseif adversaires is defined %}
                {% for adversaire in adversaires %}
                <div class="mx-2 py-2 scale advsearch cardChampS" data-nom="{{ adversaire.name }}" id="{{ adversaire.id }}">
                    <a href='{{ path('matchup',{idM:id, idE:adversaire.id}) }}'>
                        <div class='containerImgChamp'> 
                          <img src='{{ imgChamp }}{{ adversaire.id }}.png' alt=''>
                        </div>
                        <div class='socleSelect'>
                          <p>{{ adversaire.name }}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% endif %}

      <div class="filling-empty-space-childs"></div>
      <div class="filling-empty-space-childs"></div>
      <div class="filling-empty-space-childs"></div>
      <div class="filling-empty-space-childs"></div>
      <div class="filling-empty-space-childs"></div>
      <div class="filling-empty-space-childs"></div>
      <div class="filling-empty-space-childs"></div>
    </div>
  </div>
</section>

<script>
  
</script>
{% endblock %} 