{% extends 'base.html.twig' %}

{% block body %}
    <section class="container blocReverse">
        <div>
            <h1 class="WS-color text-center">Les matchups pour {{ champ.name }}</h1>
            <p class=" text-center soustitre">Les matchups sont classés par ordre de difficultés afin de vous aiguiller dans votre choix.</p>
        </div>
        
        <div class="col blocChamps">
            <div class="d-flex justify-content-center flex-wrap">

                {% for reverse in reverses %}
                    <div class="scale mx-2 py-2 cardChampM">
                            <a href='{{ path('matchup',{idM:reverse.id_my_character, idE:idE}) }}'>
                                <div class='containerImgChamp'>
                                    <img src ='{{ imgTiles }}{{ reverse.id }}_0.jpg' alt=''>
                                </div>
                                <div class='socleSelect'>
                                    <p>{{ reverse.id }}</p>
                                    <div class='difficulty dif{{ reverse.difid }} mx-auto'></div>
                                    <style>.difficulty{width:70%;} .dif{{ reverse.difid }}{background-color: {{ reverse.couleur }};}</style>
                                    <h3 class="text-center WS-color">{{ reverse.level }}</h3>
                                </div>
                            </a>
                    </div>
                {% endfor %}

                <div id="filling-empty-space-child-reverse"></div>
            </div>
        </div>
    </section>
{% endblock%}