{% extends 'base.html.twig' %}

{% block body %}
    <section class="container blocSelection">
    <div class='mb-4'>
      <h1 class="text-center WS-color">Sélectionnez votre champion</h1>
      <p class=" text-center soustitre">Veuillez sélectionner le champion que vous souhaitez jouer.</p>
    </div>
    <div class="col blocChamps">
      <div class="d-flex justify-content-center flex-wrap">
        {% for champ in selectChamp %}
            <div class="cardChampS {% if champ.state == 1 %}scale{% else %}indispo{% endif %}">
            {% if champ.state == 1 %}
              {% set id = champ.id %}
                <a href='{{ path('adversairesChamp',{id:champ.id}) }}'>
                  <div class='containerImgChamp'>
                    <img src='{{ imgChamp }}{{ champ.id }}.png' class='' alt=''>
                  </div>
                  <div class='socleSelect'>
                    <p>{{ champ.name }}</p>
                  </div>
                </a>
            {% else %}
              <div class='d-flex h-100'>
                <div class='containerImgChamp'>
                  <img src='{{ imgChamp }}{{ champ.id }}.png' class='' alt=''>
                </div>
                <div class='socleSelect'>
                  <p>{{ champ.name }}</p>
                </div>
              </div>
            {% endif %}
            </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
